
// VARIABLES

// Palette 
// $primary: #fff7f5; 
$secondary: #79ada6;  
$tertiary: #096658;  
$page-background-color: #f5e5e1; //#F3E5E6;
$text-container-color: #fff;
$linkcolor: #228a7a; 
$section-header-color: #217568;
$publications-bullet: #db9eb5;

// Colors
$blue: #4183C4;
$light-pink: #fce4de;
$dark-pink: #E4AEC5;
$knitsweater2: #fff7f0;
$lightpurple: #AF9FCC;
$camel: #be845e;
$sage: #7b876d;
$cranberry: #B6594c;
$steelblue: #90AEB2;
$midnightgreen: #37514D;
$purple: #ddcde0;

// Grays 
$black: #000; 
$darker-gray: #222; 
$dark-gray: #333; 
$gray: #666; 
$light-gray: #eee; 
$white: #fff; 
$medium-gray: #918e8e;

// Font stacks

.montserrat-font {
  font-family: Montserrat, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

$helvetica: helvetica, arial, sans-serif;
$helvetica-neue: "Helvetica Neue", helvetica, arial, sans-serif;
$georgia: georgia, serif;
$lato: lato;
$montserrat: "montserrat";
$primary-font: $georgia; 
$primary-sans-serif: $georgia; 

// Mobile breakpoints
@mixin mobile {
  @media screen and (width == 640px) {
    @content;
  }
}