
//
// VARIABLES
//

// Palette 
$primary: #fff7f5;// #fff7f0;
$secondary: #79ada6; // #90AEB2;
$tertiary: #096658; //#B6594c;
$backgroundpink: #fce1dc; // my favorite pink: #edced4; 
$linkcolor:  #228a7a;//#1da894;

// Colors
$blue: #4183C4;
$lightpink: #fce4de;
$knitsweater2: #fff7f0;
$lightpurple: #AF9FCC;
$camel: #be845e;
$sage: #7b876d;
$cranberry: #B6594c;
$steelblue: #90AEB2;
$midnightgreen: #37514D;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$lato: 'Lato';

$primary-font: 'Lato', sans-serif; //Helvetica, Arial, sans-serif;
$primary-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}