---
---

// ******* /
// IMPORTS
// ****** /

@use "reset" as *;
@use "../_sass/_variables" as *;
@use "../_sass/_svg-icons" as *;
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-size: 100%;
  height: 100%;
}

body {
  background-color: $page-background-color;
  font-family: $primary-font; 
  color: #404040;
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 850px; //740px;
  padding: 0 10px;
  width: 100%;
}

.section-title {
  font-size: 18px;
  color: $section-header-color;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, section-title {
  font-family: $primary-sans-serif; 
  color: $darker-gray;
  font-weight: 500;

  line-height: 1.7;
  margin: 5px;
  padding: 0;
  text-align: left;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 25px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  color: #222;
}

p {
  margin: 15px 0;
  margin-left: 5px;
}

table {
	padding: 0;
}

table tr {
	border-top: 1px solid $white;
	background-color: $white;
	margin: 0;
	padding: 0;
}

table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

table tr th {
	font-weight: bold;
	border: 1px solid $white;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

table tr td {
	border: 1px solid $white;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

table tr th :first-child,
table tr td :first-child {
	margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
	margin-bottom: 0;
}

#search-container {
  text-align: center;
}

#search-input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid $white;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  background-color: #fff3ff;
}


span[data-pullquote] {
  display: block;

  @include mobile {
    display: none;
  }
}

span[data-pullquote]:before {
  content: attr(data-pullquote);
  float: right;
  width: 200px;
  margin: 0 0 0.5em 30px;
  padding: 0 -5% 0 0;
  font-size: 1.3em;
  font-style: italic;
  color: $secondary;
  text-align: center;
}

a {
  color: $linkcolor;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $dark-pink;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: none;
}

ul.post-detailed {
  text-decoration: none;
}

//ol {
//  list-style-type: decimal;
//}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}
//
//ul ul, ol ul {
//  list-style-type: circle;
//}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
 }

.wrapper-img {
  max-width: 100%;
  float: right;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.wrapper-img > img {
  float: right;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: $secondary;
}

.img-caption {
  font-size: 11;
  font-family: $primary-font;
  color: $medium-gray;
  text-align: center;
  margin-top: 0px;
}

p > img {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

.wrapper-publications {
  border-left-color: $publications-bullet;
  border-left-width: 5px;
  border-left-style: solid;
  padding-left: 5px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
} 


/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 25px;
  margin-top: 20px;
}

.masthead {
  position: relative;
  padding-right: 10px 0; // originally 20px 0;
  border-bottom: 5px solid $secondary;
  
  @include mobile {
    margin: 0 10px;
    color: $blue;
  }
}

.site-avatar {
  float: left;
  width: 90px;
  height: 90px;
  margin-right: 10px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  color: $tertiary;
  cursor: pointer;
  position: relative;
  font-family: $primary-sans-serif; 
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 1px;
  text-align: left;
  top: 35px;

  @include mobile {
    text-align: center;
  }
}

.site-description {
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

.navbar {
  position: relative; 
  float: left;
  background-color: $tertiary;
  z-index: 2500;
  width: 100%;
  text-align: left;
}

nav {
  float: left;
  margin-top: 10px; 
  margin-bottom: 10px;
  font-family: $primary-sans-serif; 
  font-size: 16px; 

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  li { 
    display: inline-block; 
  }

  a {
    margin-left: 20px;
    color: $page-background-color;
    text-align: right;
    font-weight: 400;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }

  a:hover {
    background-color: $light-pink;
    color: $tertiary;
    height: 100%;
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $light-gray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.wrapper-container {
  min-height: 100%;
  position: absolute; //relative;
  height: 100%; //auto
  width: 100%;
  top: 0px;
  z-index: 2500;
  background-color: $page-background-color;
  align-items: center;
}

.container_center {
  position: relative;
  background-color: $text-container-color;
  height: auto; //140vh;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px; 
  padding-bottom: 30px;

  // borders

  border-top-width: 50px;
  border-left: solid;
  border-right: solid;
  border-color: $secondary;
  border-left-width: 5px; //2px;
  border-right-width: 5px; //2px;
  border-bottom-width: 5px;
  border-style: solid;
}

.wrapper-main {
  padding-bottom: 10 px; //134px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.wrapper-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10px; //89px;
  margin-bottom: 20px;
  //background-color: $secondary; // this is what removed a line at the bottom of each post
}

.wrapper-bottom {
  position: static;
  bottom: 30px;
  height: 50px;
}

footer {
  padding: 10; //20px 0;
  text-align: center;
}

body:after {
  background: linear-gradient(to right, #ffffff   0, #2196F3   33%, #E91E63   66%, #000 100%);
  width: 100%;
  height: 5px;
  top: 0;
  position: absolute;
  left: 0;
  content: '';
}

/*
#bar {
    background: $darkerpink;
    height: 20px;
    background-size: cover;
    //background-position: left 60%;
    position: fixed;
    width: 100%;
    //overflow: hidden;
}
*/

.post h1{
  font-family: $primary-font; 
  text-align: center;
  font-weight: 400;
  font-kerning: auto;
  //font-feature-settings: "kern","liga","dlig","hlig","cswh";
  line-height: 1.2;
}

.page h1{
  font-family: $primary-font; 
  text-align: center;
  font-weight: 400;
  font-kerning: auto;
  //font-feature-settings: "kern","liga","dlig","hlig","cswh";
  line-height: 1.2;
}

.author_title{
  text-align: center;
  color: #939aa1;
  letter-spacing: 2px;
}

.post_date{
  text-align: center;
  color: #939aa1;
}

.cd-container a {
  color: #30434e;
  text-decoration: none;
  font-family: $primary-font; 
}

.cd-container img {
  max-width: 100%;
}

.cd-container h1, .cd-container h2 {
  font-family: $primary-font; 
  font-weight: bold;
}

/* --------------------------------
Modules - reusable parts of our design
-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
  border-radius: 10px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}

.chip {
    display: inline-block;
    height: 32px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}

.yellow.lighten-2 {
    background-color: #efd3f9 !important;
}

#gh-latest{
    font-size: 16px;
    text-align: center;		
}

.text-link {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
}

.icon {
  height: 1em;
  width: 1em;
  line-height: 1;
  fill: currentColor;

  .author-social-links & {
    vertical-align: -0.15em;
    display: inline-block;
  }
}

// News
.news-container {
  max-height: 180px;      /* controls visible height */
  overflow-y: auto;       /* makes it scrollable */
  padding-right: 0.5rem;
  margin-bottom: 1.5rem;
  border-left: 5px solid $publications-bullet;
  padding-left: 0.75rem;
}

.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.news-item {
  margin-bottom: 0.4rem;
  line-height: 1.4;
}

.news-date {
  font-weight: bold;
  margin-right: 0.4rem;
  white-space: nowrap;
}
