<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          
          <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}/assets/images/{{ site.avatar }}" alt="{{ site.title }}" /></a> 
            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            </div>

          </header>

          <header class="navbar clearfix">
              {% include navigation.html %}
          </header>
          <div class="container_center">
      <div class="wrapper-main">

        <div class="wrapper-img">
            <img class="profile-img" src="assets/images/image_for_website.png" alt="My image" loading="lazy">
            <p class="img-caption">isc36 [at] cornell [dot] edu</p>
        </div>
        {% assign sections = site.index_page_collection | sort: 'order' %}
        {% for file in sections %}
          <h2 id="{{file.section_id}}" class="section-title">{{ file.section_header }}</h2>
          {% assign paragraphs = file.content | split: '</p>' %}
        
          {% if file.section_id == 'news' %}
            <div class="news-container">
              <ul class="news-list">
                {% for paragraph in paragraphs %}
                  {% assign p = paragraph | strip %}
                  {% if p != '' %}
                    <li class="news-item">
                      {{ p }}</p>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          {% else %}
            {% for paragraph in paragraphs %}
              {% assign p = paragraph | strip %}
              {% if p != '' %}
                {% if file.section_id == 'publications' and p contains 'Corpus' %}
                  <div class="wrapper-publications">
                    <p>{{ p }}</p>
                  </div>
                {% else %}
                  <p>{{ p }}</p>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        
          <br>
        {% endfor %}
      </div>
      
      </div>
      <div class="wrapper-bottom"></div>
    </div>
    </div>

  </body>
</html>